extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src="/socket.io/socket.io.js")
  script.
   // console.log(document.location.hostname)
   //var socket = io('//'+document.location.hostname);
   var socket = io()
   console.log("here")
   console.log(socket)
    socket.on('socketToMe', function (data) {
      console.log(data);
    });
